<?xml version="1.0"?>
<model>
  <name>Clifford_Sim_Model</name>
  <version>1.0.0</version>
  <description>A simulation model of Clifford</description>
  <maintainer email="your_email@example.com">Your Name</maintainer>
  <license>TODO</license>
  <uri>TODO</uri>
  <path>package://clifford_sim_1/urdf/clifford_model.urdf</path>
  
  <mesh>
    <filename>package://clifford_sim_1/meshes/base_link_chassis.STL</filename>
    <filename>package://clifford_sim_1/meshes/base_link_cover.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_left_shoulder-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_left_arm-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_left_wrist-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_right_shoulder-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_right_arm-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/front_right_wrist-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/rear_left_shoulder-link.STL</filename>
    <filename>package://clifford_sim_1/meshes/rear_left_arm-link.STL</filename>
    <!-- Add other mesh files as necessary -->
  </mesh>
  
  <joint>
    <name>ref_joint</name>
    <type>fixed</type>
    <parent>ref_link</parent>
    <child>base_link_chassis</child>
  </joint>

  <!-- Additional joints and links can be added here -->
</model>

