<?xml version="1.0" ?>
<model>
  <name>empty.world</name>
  <version>1.0</version>
  <description>
    A custom Gazebo world created for the Makeathon project. This world includes various models and configurations designed to facilitate simulations.
  </description>
  <license>BSD</license>
  <sdf version='1.6'> <!-- Ensure this version matches your SDF version -->
    <world name='default'>
      <!-- Here you would add details about your world -->
    </world>
  </sdf>
</model>

